/*
 * header-top.scss
 * -----------------------------------------------
*/
header#header {
	$header-top-font-size: 16px;
	.header-top {
		color: $white-base;
		padding: 0;
		font-size: $header-top-font-size;
		line-height: 1.7;
		@include media-breakpoint-down(md) {
			padding-bottom: 15px;
			padding-top: 15px;
			line-height: 2.2;
		}
		> .container {
			> .row {
				> div {
					max-width: 100%;
				}
				> :first-child {
				}
				> :last-child {
				}
			}
		}
		.element {
			display: inline-block;
			margin-right: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			line-height: 1.8;
			font-weight: $font-weight-bold;
			position: relative;
			z-index: 0;
			&:last-child {
				margin-right: 0;
				padding-right: 0;
			}
			.search-form {
				.search-field {
					height: 30px;
					padding: 5px 10px 5px 20px;
				}
				.search-submit {
					padding: 3px 20px;
				}
			}
			.btn {
				font-size: $header-top-font-size;
			}
			&:not(.styled-icons) a:not(.btn):not(.styled-icons-item):not(.wp-block-button__link):not(.dropdown-item) {
				color: $white-base;
				&:hover {
					color: darken($white-base, 10%);
				}
			}
		}
		.styled-icons-label {
			margin-right: 7px;
		}
		.styled-icons li {
			margin-bottom: 0;
		}
		.styled-icons.icon-xs li {
			a i {
				top: -1px;
			}
		}
		.header-top-left {
			.element {
			}
		}
		.header-top-right {
			.element {
			}

		}
		.contact-info {
			li {
				display: inline-block;
				position: relative;
				margin-right: 15px;
				@include media-breakpoint-up(lg) {
					margin-right: 25px;
				}
				@include media-breakpoint-down(sm) {
					display: block;
					margin-right: 0;
					margin-top: 5px;
					margin-bottom: 5px;
				}
				.font-icon {
					margin-right: 5px;
				}
				@include media-breakpoint-up(lg) {
					&:not( :first-child ) {
						&:before {
							background: rgba(255, 255, 255, 0.7);
							content: "";
							position: absolute;
							top: 0;
							bottom: 1px;
							left: -16px;
							margin: auto;
							height: 15px;
							width: 1px;
						}
					}
				}
			}
		}
		.tm-wpml-language-switcher {
			cursor: pointer;
			.dropdown-toggle {
				background-color: transparent;
			}
			.dropdown-list {
				border-radius: 0;
				padding: 0;
				border: 1px solid rgba(134, 134, 134, 0.15);
				@include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.18) );
				li {
					a {
						color: #333;
						background-color: #fff;
						padding: 12px 15px;
						&:hover {
							color: #252525;
							background-color: #f5f5f5;
						}
						img {
							margin-right: 5px;
						}
					}
				}
			}
		}
		.header-top-nav {
			&.list-inline {
				li {
					display: inline-block;
				}
			}
			.menu-item {
				padding: 0;
				a {
					color: #fff;
					position: relative;
				}
				&:not( :first-child ) {
					a {
						margin-left: 25px;
						&:before {
							background: rgba(255, 255, 255, 0.7);
							content: "";
							position: absolute;
							top: 0;
							bottom: 1px;
							left: -16px;
							margin: auto;
							height: 15px;
							width: 1px;
						}
						i {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}