/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

COLOR1: #43616f
COLOR2: #5d7772
----------------------------------------- */
$total-theme-colors: 2;

$theme-color1: #43616f;
$theme-color2: #5d7772;

@import "parts/loader";
